
/*Separo todo del body con respecto a margen padding y contenido*/
/*------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
}
/*------------------------------*/


/*----------------------------*/
/* Esta clase se aplica automáticamente a la ventana que esta en el JS */
/*Todos los comentarios pueden ser eliminados una vez decida el color y todo lo demás*/

.swal-overlay {
    /*background-color: rgb(43, 165, 137); /*lO DEJO SIN RGBA PORQUE ASÍ TAPA LA PANTALLA*/
    /* background-color:  rgb(17,26,89, .8); */
    background-color: rgba(0, 0, 0, 0.874);
}
.swal-modal {
    /*background-color: rgba(218, 230, 221, 0.811);/*Color de la ventana modal en si misma*/
    background-color: #fff;
    border: 3px solid white;
    font-size: 3rem;
}
.swal-button-container {
    display: flex;
    justify-content: center;/*esto ubica el botón que dice OK*/
}

.swal-icon--success__hide-corners{
    display: none;
    background-color: rgba(218, 230, 221, 0.811);/*Color de la ventana modal en si misma*/
    
}

/*-----------------------------*/


.container {
    max-width: 70%;
    width: 100%;
    margin: 30px auto;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transition: background-color 0.3s ease;
}

h1 {
    text-align: center;
    font-size: 2.3rem;
    transition: color 0.3s ease;
}

h2 {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: color 0.3s ease;
}

/*Este formato es más corto que el usado originalmente*/
p, label, ol {
    margin-bottom: 15px;
    font-size: 18px;
    line-height: 2rem; 
}

ol {
    margin-left: 30px;
}
/*---------------------------*/


select, input {
    line-height: 2rem; /*El line height le da una altura al renglón y deja un espacio que creo necesita la página*/
    padding: 10px;
    font-size: 18px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button {
    font-size: 20px;
    padding: 12px 24px;
    /*Este color que había era muy bootstrap*/
    background-color: #032342db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    margin: 20px auto;
}

/*Si cada este div porque solo deja el alert, esto se puede borrar*/
/*--------------------*/
#resultado {
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #f2f2f2;
    transition: background-color 0.3s ease;
    color: #333;
}
/*----------------------------------*/


.modo-oscuro-activado {
    background-color: #333;
    color: #f2f2f2;
}

.modo-oscuro-activado .container {
    background-color: #444;
}

.modo-oscuro-activado h1, .modo-oscuro-activado h2 {
    color: #f2f2f2;
}

.modo-oscuro-activado select, .modo-oscuro-activado input {
    background-color: #333;
    color: #f2f2f2;
}

.modo-oscuro-activado button {
    background-color: #222;
}







